/* google fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* root or shared styles */
* {
    list-style: none;
    text-decoration: none;
    transition: all 0.3s;
    scroll-behavior: smooth;
}

:root {
    --text-primary-color: #3A3A3A;
    --text-secondary-color: #18191f;
    --poppins: "Poppins", sans-serif;
    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;
    --main-color: #E02C6D;
}

main {
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 24px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: var(--main-color);
}



/* header styles */
header {
    max-width: 100%;
    margin: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-primary-color);
}

nav .mobile-bar,
.mobile-cart {
    display: none;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

nav .nav-links li a {
    font-family: var(--poppins);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary-color);
}

/* hero area styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.hero-content {
    max-width: 582px;
}

.hero-content .hero-title {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-primary-color);
}

.hero-content .hero-description {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-primary-color);
}

.hero-image {
    max-width: 440px;
}

.hero-image img {
    background: url(../images/Circle-design.svg);
}

/* sponsor section styles */
.sponsors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    border-top: 1px solid #e9e6e6;
    border-bottom: 1px solid #e9e6e6;
    padding: 35px 40px;
}

/* collection section styles */
.collections {
    max-width: 100%;
    margin: 100px auto;
    justify-items: center;
}

.collections h2 {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 2rem;
    color: var(--text-primary-color);
    margin-bottom: 30px;
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 100%;
}

.collection {
    padding: 15px;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.collection img {
    width: 100%;
    border-radius: 10px;
}

.c-content {
    text-align: left;
}

.c-name {
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 500;
    color: var(--text-secondary-color);
}

.c-content .c-price {
    font-family: var(--inter);
    font-size: 24px;
    color: #000;
}

.ratings i {
    color: #ffa500;
}

.ratings .point {
    display: inline;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}

.c-description {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}

/* featured styles */
.featured {
    width: 100%;
}

.featured-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: 50px auto;
}

.featured-img {
    max-width: 100%;
}

.featured-content {
    max-width: 100%;
}

.featured-title {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2.5rem;
    color: #0A0826;
}

.featured-description {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 1.25rem;
    color: #6C6C6C;
    max-width: 500px;
}

/* footer styles */
footer {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #150933;
    display: flex;
    align-items: center;
}

.footer-container {
    margin: 0 auto;
    padding: 10px;
    justify-items: center;
}

.footer-title {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}

.footer-description {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    max-width: 300px;
}

.footer-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.footer-container ul li a {
    font-size: 2rem;
    color: #fff;
}




/* responsive media query */

/* small devices */

@media screen and (max-width: 576px) {
    header {
        margin: 10px;
    }

    nav {
        justify-content: space-around;
    }

    nav .brand {
        font-size: 1.5rem;
    }

    nav .mobile-bar,
    .mobile-cart {
        display: block;
        font-size: 1.5rem;
        color: var(--text-primary-color);
    }

    nav .nav-links {
        display: none;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
        margin-bottom: 30px;
    }
    .hero-img {
        max-width: 400px;
        background-size: cover;
    }
    .sponsors{
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-container{
        flex-direction: column;
    }
    footer{
        justify-content: center;
    }
    .footer-container ul{
        gap: 50px;
    }
}

